/**Root*/
:root{
    /*Fonts*/
        --main-font: 'Roboto', sans-serif;
    /*Fonts*/
    /*navbar*/
        /*logo*/
        --logo-color:#3D37F1;
        --logo-font:'Permanent Marker', cursive;
        /*logo*/
        --switch-color: #2A85C9;
        --nav-hover-color:#3D37F1;/* Not a repetition of color but an easy change of color */
        --nav-text-color:#090909;
    /*navbar*/
    --section-background:#FBFCFD;
}
/**Root*/
/**Strat Navbar*/
.navbar{height: 90px;}
.nav-link{padding: 8px 60px;}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link{
    padding: 23px;
    font-size: 18px;
    font-weight: 700;
    color:var(--nav-text-color)
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active{
    color: var(--nav-hover-color);
}
.navbar .navbar-brand{color:var(--nav-second-color);font-family:var(--logo-font);}
.navbar .logo-nav{color:var(--logo-color);font-weight: bold;}
/**Start NavBar Animation*/
.navbar-expand-lg .navbar-nav{margin-right:65px;}
.navbar-expand-lg .navbar-nav .nav-link{
    color:#000;
    font-family: var(--main-font);
    display: inline-block;
    position: relative;
    padding-left: 34px;
    padding-right: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link.disabled{color:rgb(190, 190, 190);}
.navbar-expand-lg .navbar-nav .nav-link::after{
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::after{
    transition: 0.4s;
    width: 100%;
    background: var(--nav-hover-color);
    z-index: 1;
    transform: translateX(0%) scaleX(1);
}
/**End NavBar Animation*/
.language{font-weight: 700;font-family: var(--main-font);}
.nav-switch{position: relative;top:22.5px;} /*in small screnn top: 6px;*/
/**Swith Button*/
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 27px;
}
.switch input{opacity: 0;width: 0;height: 0;}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
input:focus + .slider{box-shadow: 0 0 1px var(--switch-color);}
input:checked + .slider{background-color: var(--switch-color);}
input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round{border-radius: 34px;}
.slider.round:before{border-radius: 50%;}
/**End Swith Style*/

/**End Navbar*/

