/**Root*/
:root{
    /*Fonts*/
        --main-font: 'Roboto', sans-serif;
    /*Fonts*/
    /*navbar*/
        /*logo*/
        --logo-color:#3D37F1;
        --logo-font:'Permanent Marker', cursive;
        /*logo*/
        --switch-color: #2A85C9;
        --nav-hover-color:#3D37F1;/* Not a repetition of color but an easy change of color */
        --nav-text-color:#090909;
    /*navbar*/
    --section-background: #FBFCFD;
    /*Footer*/
    --footer-color: #4B647E;
    --shadow-color: #0000003d;
    --border-color: #9a9a9a38;
}
::selection{
    background-color: var(--nav-hover-color);
    color: var(--section-background);
}
/**Root*/
*{
    padding:0;
    margin:0;
}
body{
    font-family: var(--main-font);
}
a:hover{
    text-decoration: none;
}
/**Start Navbar Scroll*/
.smart-scroll{
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    position: fixed;
}
.scrolled-down{transform:translateY(-100%); transition: all 0.5s ease-in-out;}
.scrolled-up{transform:translateY(0); transition: all 0.5s ease-in-out;}
/**End Navbar Scroll*/

/**Strat Navbar*/
.navbar{
    width: 100%;
    z-index: 1;
    position: fixed;
    -webkit-box-shadow: 0px -1px 29px 5px var(--shadow-color);
    -moz-box-shadow: 0px -1px 29px 5px var(--shadow-color);
    -ms-box-shadow: 0px -1px 29px 5px var(--shadow-color);
    -o-box-shadow: 0px -1px 29px 5px var(--shadow-color);
    box-shadow: 0px -1px 29px 5px var(--shadow-color);
}
.bg-light{background-color:#fff !important;}/*bootstrap class*/
.nav-link{padding: 8px 60px;}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link{color: var(--nav-hover-color);}
.navbar .navbar-brand{color: var(--nav-second-color);font-family: var(--logo-font);}
.navbar .logo-nav{color: var(--logo-color);font-weight: bold;}
/*Start NavBar Animation*/
.navbar-expand-lg .navbar-nav{margin-right:65px;}
.navbar-expand-lg .navbar-nav .nav-link{
    color: var(--nav-text-color);
    padding: 23px;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--main-font);
    display: inline-block;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link::after{
    height: 2px;
    width: 0px;
    content: '';
    display: block;
    margin: auto;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::after{
    width: 100%;
    background: var(--nav-hover-color);
    transform: translateX(0%) scaleX(1);
    transition: 0.4s;
    z-index: 1;
}
.navbar-collapse{z-index: 1;background-color: #fff;}/*Make navbar when collapsed have background color white*/
/*End NavBar Animation*/
.nav-switch{position: relative;top: 22.5px;} /***in small screnn top: 6px;*/
.language{font-weight: 700;font-family: var(--main-font);}
/*Swith Button*/
.switch{
    height: 27px;
    width: 55px;
    display: inline-block;
    position: relative;
}
.switch input{opacity: 0;width: 0;height: 0;}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
input:focus + .slider{box-shadow: 0 0 1px var(--switch-color);}
input:checked + .slider{background-color: var(--switch-color);}
input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -moz-transform: translateX(26px);
    -ms-transform: translateX(26px);
    -o-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round{border-radius: 34px;}
.slider.round:before{border-radius: 50%;}
/*End Swith Style*/
/**End Navbar*/

/**Start First Section*/
.first-section{
    min-height: 100vh;
    overflow: hidden;
    background-image: url('../img/Path 1361.png');
    background-repeat: no-repeat;
    background-position: 442px -35px;
}
.first-section .f-info .inner-info{
    margin-top: 253px;
}
.first-section .f-info .inner-info p{margin-top: 10px;}
.first-section .f-info .inner-info button{
    height: 40px;
    width: 130px;
    border-radius: 30px;
    border: none;
    background-color: var(--logo-color);
    color: var(--section-background);
    font-weight: 500;
    text-transform: capitalize;
}
/**End First Section*/

/** Start services Section*/
.services{
    background-color: var(--section-background);
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}
.services .services-text{margin-bottom: 30px}
.services .services-par{
    color: var(--logo-color);
    font-weight: 700;
    margin-top: 50px;
}

/**Card hover*/
.services-cards .card:hover{
    color: var(--section-background);
    fill: var(--section-background);
    transition: background-color 0.5s ease-in-out;
}
.services-cards .card:nth-child(1):hover{background: #EFB274;}
.services-cards .card:nth-child(2):hover{background: #30BBCB;}
.services-cards .card:nth-child(3):hover{background: #67509B;}
.services-cards .card:nth-child(4):hover{background: #2573CB;}
.services-cards .card:nth-child(5):hover{background: #847FE8;}
.services-cards .card:nth-child(6):hover{background: #D7676C;}
/**Card hover*/
/** End services Section*/

/* Start Features Section */
.features{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.features .features-p{padding-top: 5px;padding-bottom: 17px;}
/* End Features Section */

/* Start Footer Section */
.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--section-background);
}
.footer-text-logo{font-family: var(--logo-font);}
.footer-text-logo .online-text{color: var(--nav-hover-color);}
.footer svg{
    width: 55px;
    height: 43px;
    margin-bottom: 20px;
    display: inline-block;
}
.google-svg,
.facebook-svg{
    fill: #0A315A;
    transition: fill 0.5s ease;
}
.footer-logo .svg-link-f:hover .facebook-svg{fill: #3b5998;}
.footer-logo .svg-link-g:hover .google-svg{fill: #DC4E41;}
.footer .footer-par{
    margin-top: 5px;
    color: var(--footer-color);
    text-decoration: none;
    font-weight: 500;
    display: block;
    transition: color 0.5s,margin-left 1s ease;
}
.footer .footer-par:hover{
    color: var(--nav-hover-color);
    margin-left: 5px;
}
.copy-right{
    margin-top: 50px;
}
/* End Footer Section */

/**card*/
.card{
    width: calc(150% / 2);
    border: 0;
    border-radius: 10px;
    height: 333px;
}
.card-img{
    width: 40%;
    margin: auto;
    margin-top: 40px;
}
.margin-bottom{margin-bottom: 20px;}
/**card*/

/*************************************/

/****Exam Page****/
.exam-main{padding-top: 90px;}
a.exam-info{display: block;color: var(--nav-text-color);}
.exam-main .exam-info{
    width: 1488px;
    margin-top: 56px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-family: var(--main-font);
    font-weight: bolder;
    transition: 0.25s ease;
}
.exam-main .exam-info:hover{
    box-shadow: 1px 3px 8px -1px var(--shadow-color);
    cursor: pointer;
}
.exam-main .exam-info .subject-name,
.exam-main .exam-info .subject-date,
.exam-main .exam-info .subject-time,
.exam-main .exam-info .subject-duration{
    width: 135px;
    display: inline-block;
    margin: calc((1488px - 580px)/12);/*1488px div width - 580px = 40px padding + 540px is total of widths for spans*/
    margin-top: 0;
    margin-bottom: 0;
}
.last:last-child{margin-bottom: 100px;}
/****Exam Page****/